.body {
    background-color: rgb(202, 237, 255);
}

.contenedor-principal {
    display: flex;
    justify-content: space-between;
}
  
.contenedor-categorias {
    width: 25%;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: solid 1px;
}

.table {
    justify-content: space-between;
}

.contenedor-add-categories {
    width: 100%;
    padding: 10px;
    background-color: rgb(232, 232, 232);
    border: solid 1px;
}

.contenedor-sites {
    width: 75%;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: solid 1px;
    margin-left: 30px; 
}

.selected {
    background-color: #b0b0b0;
}

.show-button {
    margin: 5px;
    background-color: rgb(141, 184, 255);
    color: rgb(0, 0, 0);
}

.my-button {
    margin: 5px;
}

.edite-button {
    margin: 5px;
    background-color: rgb(5, 9, 255);
    color: rgb(255, 255, 255);
}

.boton-add-category {
    padding: 20px;
}

.contenedor-informacion {
    justify-content: left;
    padding: 10px;
}

.contenedor-formulario {
    background-color: rgb(230, 230, 230);
    border: solid 1px;
}

.labels {
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: left;
}

.descripcion {
    width: 75%;
}

.opciones {
    display: flex;
}